*.json
*.TAG
/target/debug
/target/release/.fingerprint
/target/release/build
/target/release/deps
/target/release/examples
/target/release/incremental
/target/release/.cargo-lock
/target/release/rust_calculator.pdb
/target/release/rust-calculator.d
